/build/
/.gradle/
/ApiGateway-service-spring/build/
/ApiGateway-model/build/
/ApiGateway-api/build/
/gradle/
.settings
.DS_store
gradlew
gradlew.bat
/gradle
.gradle
*/build/*
bin/
bin/*
build/*
.idea
